<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>question_page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
</head>
<body>
    <!-- 問題を解く-->
    <h1>問題</h1>
    <form method="POST" action="/do_quiz">
      <p>{{ question.question_text }}</p>
      {% for choice in question.choices %}
        <input type="radio" name="selected_choice" value="{{ choice_id }}">
        <label for="selected_choice">{{ choice.choice_text }}</label>
        <br>
      {% endfor %}
      <br>
      <input type="submit" value="解答する">
    </form>
</body>
</html>