<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>teacher_page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
</head>
<body>
    <h1>教員用ホームページ</h1>
    ようこそ、{{ current_user.name }}!
    <div>
    <!-- 次のページへ移動するボタン -->
    <a href="http://192.168.7.43:8085/quiz" target="_blank" rel="noopener">クイズ作成ページに移動</a>
    </div>
    
    <!-- 作成した問題の確認-->
    <h1>検索結果</h1>
    <table>
        <tr>
            <th >問題テキスト</th>
            <th >選択肢1</th>
            <th >選択肢2</th>
            <th >選択肢3</th>
            <th >選択肢4</th>
            <th >正解の選択肢</th>
            <th >操作</th>
        </tr>
        {% for question in questions  %}
        <tr>
            <td>{{question.question_text}}</td>
            {%for choice in question.choices %}
            <td>{{choice.choice_text}}</td>
            {% if choice.is_correct %}
            <td>{{ choice.choice_text }}</td>
            {% endif %}
            {% endfor %}
            <td>
                <form action="/delete_question" method="POST">
                    <input type="hidden" name="question_id" value="{{ question_id}}">
                    <button type="submit">削除</input>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>